---
title: Portfolio
layout: wrapper
background-color: var(--black)
navStyleButton2: selected black
---

{% include navbar.html %}

<div class="portfolioContainer">
  <div class="portfolioSpacer"></div>
  <div class="portfolioOverlayLeft"></div>
  <a href="#" class="portfolioItem">
    <img class="imgPortfolioItem" src="assets/post-images/2023/image1.png" alt="">
    <div class="portfolioItemTooltip">
      <h1>Service Dog</h1>
      <p>16 December 2023</p>
    </div>
  </a>
  <a href="#" class="portfolioItem">
    <img class="imgPortfolioItem" src="assets/post-images/2023/image2.png" alt="">
    <div class="portfolioItemTooltip">
      <h1>Sunnexo in MY portfolio???</h1>
      <p>16 December 2023</p>
    </div>
  </a>
  <a href="#" class="portfolioItem">
    <img class="imgPortfolioItem" src="assets/post-images/2023/image5.png" alt="">
    <div class="portfolioItemTooltip">
      <h1>WHOA</h1>
      <p>16 December 2023</p>
    </div>
  </a>
  <a href="#" class="portfolioItem">
    <img class="imgPortfolioItem" src="assets/post-images/2023/image3.png" alt="">
    <div class="portfolioItemTooltip">
      <h1>Nya *starts firing in all directions*</h1>
      <p>16 December 2023</p>
    </div>
  </a>
  <a href="#" class="portfolioItem">
    <img class="imgPortfolioItem" src="assets/post-images/2023/image4.png" alt="">
    <div class="portfolioItemTooltip">
      <h1>Only a lesbian could've drawn this</h1>
      <p>16 December 2023</p>
    </div>
  </a>
  <div class="portfolioSpacer"></div>
  <div class="portfolioOverlayRight"></div>
</div>




{% include socialbar.html %}
