---
title: Portfolio
layout: wrapper
background-color: var(--black)
navStyleButton2: selected black
---

{% include navbar.html %}

<div class="portfolioContainer">
  <div class="portfolioOverlayLeft"></div>
  <div class="portfolioSpacer">why isnt it on screen</div>
  <a href="#" class="portfolioItem">
    <img class="imgPortfolioItem" src="assets/post-images/2023/image1.png" alt="">
  </a>
  <a href="#" class="portfolioItem">
    <img class="imgPortfolioItem" src="assets/post-images/2023/image2.png" alt="">
  </a>
  <a href="#" class="portfolioItem">
    <img class="imgPortfolioItem" src="assets/post-images/2023/image3.png" alt="">
  </a>
  <a href="#" class="portfolioItem">
    <img class="imgPortfolioItem" src="assets/post-images/2023/image4.png" alt="">
  </a>
  <a href="#" class="portfolioItem">
    <img class="imgPortfolioItem" src="assets/post-images/2023/image5.png" alt="">
  </a>
  <div class="portfolioOverlayRight"></div>
</div>




{% include socialbar.html %}
