<div class="infoContainer">
  <div class="infoLogo">
    <img class="imgInfoLogo" src="{{ site.baseurl }}/assets/stellazium logo aug27.svg" alt="">
  </div>
  
  <div class="infoIllustration">
    <img class="imgInfoIllustration" src="{{ site.baseurl }}/assets/post-images/2023/stellazium info example.png" alt="">
  </div>
  
  <div class="infoTextContainer">
    <h1>Info</h1>
    <p>
      Stellazium is an illustrator and <br>
      CG generalist based in Vancouver, Canada.
    </p>
    <p>
      Feel free to reach out for projects, <br>
      or just to say hi!
    </p>
    <div style="display: flex; flex: row; gap: .3rem;">
      <p>&#62;&#62; E-mail:</p>
      <p class="infoSelectable">
        <b>constellaztions@gmail.com</b>
      </p>
    </div>
  </div>
</div>