<div class="navbarContainer">
  <a href="{{ site.baseurl }}/index.html">
    <img class="imgIcon" src="assets/stellazium icon aug27.svg" alt="">
  </a>
  <div class="navbarList">
    <a href="{{ site.baseurl }}/index.html" class="navbarButton {{page.navStyleButton1}}">
      home
    </a>
    <a href="{{ site.baseurl }}/portfolio.html" class="navbarButton {{page.navStyleButton2}}">
      portfolio
    </a>
    <a href="{{ site.baseurl }}/info.html" class="navbarButton {{page.navStyleButton3}}">
      info
    </a>
  </div>
</div>