<div class="portfolioContainer" id="portfolioContainer">
  <a href="#buttonPressed" class="portfolioButton bottomLeft" id="slideLeft">
    <img src="assets/portfolio arrow.svg" alt="">
    <p>Recent projects</p>
  </a>
  <div class="portfolioSpacer"></div>
  <div class="portfolioOverlay left"></div>
  <a href="#dog" class="portfolioItem">
    <img class="imgPortfolioItem" src="assets/post-images/2023/image1.png" alt="">
    <div class="portfolioItemTooltip">
      <h1>Service Dog</h1>
      <p>16 December 2023</p>
    </div>
  </a>
  <a href="#sunnexo" class="portfolioItem">
    <img class="imgPortfolioItem" src="assets/post-images/2023/image2.png" alt="">
    <div class="portfolioItemTooltip">
      <h1>Sunnexo in MY portfolio???</h1>
      <p>16 December 2023</p>
    </div>
  </a>
  <a href="#whoa" class="portfolioItem">
    <img class="imgPortfolioItem" src="assets/post-images/2023/image5.png" alt="">
    <div class="portfolioItemTooltip">
      <h1>WHOA</h1>
      <p>16 December 2023</p>
    </div>
  </a>
  <a href="#nya" class="portfolioItem">
    <img class="imgPortfolioItem" src="assets/post-images/2023/image3.png" alt="">
    <div class="portfolioItemTooltip">
      <h1>Nya *starts firing in all directions*</h1>
      <p>16 December 2023</p>
    </div>
  </a>
  <a href="#lesbian" class="portfolioItem">
    <img class="imgPortfolioItem" src="assets/post-images/2023/image4.png" alt="">
    <div class="portfolioItemTooltip">
      <h1>Only a lesbian could've drawn this</h1>
      <p>16 December 2023</p>
    </div>
  </a>
  <div class="portfolioSpacer"></div>
  <div class="portfolioOverlay right"></div>
  <a href="#buttonPressed" class="portfolioButton bottomRight" id="slideRight">
    <p>Old projects</p>
    <img src="assets/portfolio arrow.svg" alt="">
  </a>
</div>

<script>
  const buttonRight = document.getElementById('slideRight');
  const buttonLeft = document.getElementById('slideLeft');
  const scrollDistance = 900;

  buttonRight.onclick = function () {
    document.getElementById('portfolioContainer').scrollLeft += scrollDistance;
  };
  buttonLeft.onclick = function () {
    document.getElementById('portfolioContainer').scrollLeft -= scrollDistance;
  };
</script>

