<div class="socialbarContainer">
  <div class="calendarContainer">
    <p class="calendarTime">12:45</p>
    <p class="calendarDate">Thursday <br> August 23, 2023</p>
    <div class="socialDivider"></div>
    <div class="socialList">
      <a class="socialIcon" href="#">
        <img class="imgSocialIcon" src="assets/social-icons/twitch.svg" alt="">
      </a>
      <a class="socialIcon" href="#">
        <img class="imgSocialIcon" src="assets/social-icons/twitter.svg" alt="">
      </a>
      <a class="socialIcon" href="#">
        <img class="imgSocialIcon" src="assets/social-icons/instagram.svg" alt="">
      </a>
      <a class="socialIcon" href="#">
        <img class="imgSocialIcon" src="assets/social-icons/tiktok.svg" alt="">
      </a>
      <a class="socialIcon" href="#">
        <img class="imgSocialIcon" src="assets/social-icons/youtube.svg" alt="">
      </a>
      <a class="socialIcon" href="#">
        <img class="imgSocialIcon" src="assets/social-icons/deviantart.svg" alt="">
      </a>
    </div>
  </div>
</div>