/* ====================
variables
=====================*/

:root{
  --white: #FEFEFE;
  --grey: #fefefe42;
  --transparent: #fefefe00;
  --yellow: #E5A62A;
  --black: #111111;

  --borderSpace: 5rem;
  --screenMaxWidth: 600px;
}

/* ====================
change basic things
=====================*/

body, h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
  font-family: 'Chakra Petch', sans-serif;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* overflow-x: hidden; */
}

a{
  color: var(--white);
  text-decoration: none;
}

img{
  pointer-events: none;
}

#wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

@media only screen and (max-width: 600px) {
  #wrapper{
    align-items: start;
  }
}

/* ====================
navbar
=====================*/

.navbarContainer{
  display: flex;
  /* position: absolute; */
  position: fixed;

  top: var(--borderSpace);
  left: var(--borderSpace);
  flex-flow: column wrap;
  gap: 2rem;
  max-width: fit-content;
  z-index: 4;
}

.navbarList{
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
}

.navbarButton{
  text-decoration: none;
  padding: .5rem 1rem .5rem 1rem;
  max-width: fit-content;

  color: var(--white);
  border: 1px dashed;
}

.selected{
  background-color: var(--white);
  border: 1px solid var(--white);
  /* color: var(--yellow); */
}

.black{
  color: var(--black);
}

.yellow{
  color: var(--yellow);
}

/* .neutral{
  color: var(--white);
  border: 1px dashed;
} */

.navbarButton:hover{
  background-color: var(--grey);
  color: var(--white);
}

.imgIcon{
  /* max-width: 15rem; */
  max-width: clamp(9rem, 15vw, 15rem);
}

@media only screen and (max-width: 600px) {
  :root{
    --borderSpace: clamp(1rem, 6vw, 5rem);
  }
  .navbarContainer{
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    max-width: none;
    width: 90%;
    font-size: 1rem;
  }
  .navbarList{
    flex-flow: row nowrap;
    height: fit-content;
    gap: .5rem;
  }
  .navbarButton{
    padding: .3rem .5rem .3rem .5rem;
    max-width: fit-content;
  }

  .imgIcon{
    max-width: clamp(4rem, 22vw, 10rem);
    /* max-width: 5rem; */
  }
}



/* ====================
hero (front page)
=====================*/

.heroContainer{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.imgHeroPortrait{
  object-fit: contain;
  /* max-width: 35rem; */
  max-width: clamp(20rem, 40vw, 35rem);
}

.heroText{
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  line-height: 1rem;
}

.heroLogo{
  /* max-width: 50rem; */
  max-width: clamp(32rem, 50vw, 50rem);
  position: relative;
  top: -2rem;
}

@media only screen and (max-width: 600px) {
  .imgHeroPortrait{
    max-width: 70vw;
  }
  .heroLogo{
    max-width: 90vw;
    top: -1rem;
  }
}


/* ====================
socialbar
=====================*/

.socialbarContainer{
  display: flex;
  /* position: absolute; */
  position: fixed;
  top: var(--borderSpace);
  right: var(--borderSpace);
  z-index: 1;
}

.calendarContainer{
  display: flex;
  flex-flow: column;
  align-items: end;
}

.calendarTime{
  font-size: 2rem;
  text-align: right;
}

.calendarDate{
  text-align: right;
}

.socialDivider{
  border-bottom: var(--white) solid 1px;
  width: 3rem;
  margin-block: 1rem;
}

.socialList{
  display: flex;
  flex-flow: column;
  /* gap: 1rem; */
}

.socialIcon{
  width: 1.5rem;
  height: 1.5rem;
  padding: .5rem;
  border: 1px dashed var(--transparent);
}

.socialIcon:hover{
  border: 1px dashed;
  background-color: var(--grey);
}

.imgSocialIcon{
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .socialbarContainer{
    display: none;
  }
}


/* ====================
portfolio
=====================*/

.portfolioContainer{
  display: flex;
  flex-flow: row;

  overflow-x: scroll;
  overflow-y: hidden;
  max-width: 100%;
  max-height: 50rem;
  gap: 1rem;

  /* firefox based scrollbar */
  scrollbar-width: thin;
  scrollbar-color: var(--grey);

  scroll-behavior: smooth;
}

/* chrome based scrollbar */
.portfolioContainer::-webkit-scrollbar {
  height: 20px;
}
.portfolioContainer::-webkit-scrollbar-track {
  background: var(--transparent);
}
.portfolioContainer::-webkit-scrollbar-thumb {
  background-color: var(--transparent);
  border-radius: 2px;
  border: 1px dashed #fefefe31;
}
.portfolioContainer::-webkit-scrollbar-thumb:hover {
  background-color: var(--grey);
  border-radius: 2px;
}



.portfolioItem{
  display: flex;
  flex-flow: column;
  /* max-height: 40rem; */
  height: 100%;
}

.imgPortfolioItem{
  max-height: 40rem;
  height: 40rem;
  /* position: relative; */
}

.portfolioOverlay{
  pointer-events: none;
  position: fixed;
  height: 40rem;
  width: 30vw;
  /* position: absolute; */
}

.left{
  left:0;
  background: linear-gradient(-90deg, rgba(255,255,255,0) 0%, rgba(17,17,17,1) 100%); 
  z-index: 2;
}
.right{
  right:0;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(17,17,17,1) 100%); 

}

.portfolioSpacer{
  padding-inline: 10rem;
}

.portfolioItemTooltip{
  opacity: 0;
  transition: .1s;
  display: flex;
  flex-flow: column;
  position: relative;
  padding: 3rem;
  top: -9rem;
  margin-bottom: -9rem;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(17,17,17,1) 100%); 
}

.portfolioItemTooltip h1{
  line-height: 1.8rem;
}
.portfolioItem:hover .portfolioItemTooltip{
  opacity: 1;
}

.portfolioButton{
  z-index: 3;
  display: flex;
  flex-flow: row;
  gap: 1rem;
  padding: 1rem;
  position: absolute;
  bottom: var(--borderSpace);
  border: 1px dashed var(--transparent);
}

.portfolioButton:hover{
  border: 1px dashed;
  background-color: var(--grey);
}

.portfolioButton img{
  max-width: 4rem;
}

.bottomLeft{
  left: var(--borderSpace);
}

.bottomRight{
  right: var(--borderSpace);
}

.bottomRight img{
  transform: rotate(180deg);
}

@media only screen and (max-width: 600px) {
  .portfolioContainer{
    flex-flow: column;
    justify-content: start;
  
    overflow-x: visible;
    overflow-y: visible;
    width: 100%;
    max-height: auto;
    gap: 0rem;
  }

  .portfolioItem{
    flex-flow: column;
    /* max-height: 40rem; */
    height: auto;
    position: static;
  }

  .portfolioItem h1{
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
  
  .imgPortfolioItem{
    max-height: none;
    height: auto;
    max-width: 100%;
    /* position: relative; */
  }

  .portfolioItemTooltip{
    flex-flow: column;
    position: static;
    z-index: 1;
    opacity: 1;
    padding-inline: 1.5rem;
    padding-block: 1.2rem;
    top: 0;
    margin-bottom: 0;

    background: none; 
  }

  .left{
    pointer-events: none;
    position: fixed;
    height: 10rem;
    width: 100%;
    left: none;
    top:0;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(17,17,17,1) 100%); 
  }

  .right{
    display: none;
  }

  .portfolioSpacer{
    padding-inline: 0;
    padding-block: 3.3rem;
  }

  .portfolioButton{
    display: none;
  }
}