---
layout: wrapper
---

<div id="portfolioWrapper">
  <div class="portfolioContainer" id="portfolioContainer">
    
    <div class="portfolioSpacer"></div>
    <div class="portfolioOverlay left"></div>
    
    {{content}}
    
    <div class="portfolioSpacer hideOnMobile"></div>
    <div class="portfolioOverlay right"></div>
    
  </div>
  
  <div class="portfolioButtonContainer">
    <a class="portfolioButton bottomLeft transition-fade" id="slideLeft">
      <img src="assets/portfolio arrow.svg" alt="">
      <p>Recent projects</p>
    </a>
    <a class="portfolioButton bottomRight" id="slideRight">
      <p>Old projects</p>
      <img src="assets/portfolio arrow.svg" alt="">
    </a>
  </div>
  
  
  <script>
    function setupPortfolioButtons(){
      const buttonRight = document.getElementById('slideRight');
      const buttonLeft = document.getElementById('slideLeft');
      const scrollDistance = 900;
    
      buttonRight.onclick = function () {
        document.getElementById('portfolioContainer').scrollLeft += scrollDistance;
      };
      buttonLeft.onclick = function () {
        document.getElementById('portfolioContainer').scrollLeft -= scrollDistance;
      };
    }
    setupPortfolioButtons();
  </script>
</div>